/* Reset styles */
body {
	margin: 0;
	padding: 0;
	font-family: museo-sans,sans-serif;
	color: #FFFFFF;
	position: relative; /* Added for spinner positioning */
}

/* Add background image to the body */
body::before {
	content: "";
	background-image: url('images/grey.jpg');
	filter: opacity(1);
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	z-index: -1;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* Global styles */
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.10);
}

/* Header styles */
.header {
	background-color: rgba(13, 37, 63, 0.6);
	color: #FFFFFF;
	padding: 20px;
	text-align: center;
	opacity: 0.618;
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	position: relative; /* Added for button positioning */
}

.header h1 {
	margin: 0;
}

/* Sub-header styles */
.sub-header {
	font-size: 16px; /* Adjust font size as needed */
	color: #FFFFFF; /* White color like the header */
	margin-top: 10px; /* Space between the header and sub-header */
	font-family: Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif; /* Same font family as the header */
	opacity: 0.8; /* Slight transparency for a subtle effect */
}

/* Button styles */
.btn {
	margin-top: 10px;
	background-color: #007BFF;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover {
	background-color: #0056b3;
}

/* Account info styles */
.account-info {
	margin-bottom: 20px;
}

.account-info p {
	margin: 0;
	font-size: 1.5em;  /* Making the text twice as large */
	font-weight: bold;  /* Making the text bold */
}

/* Actions styles */
.actions {
	display: flex;
	justify-content: space-between;
}

.action {
	flex: 1;
	margin: 10px;
	background-color: rgba(255, 255, 255, 0.10);
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form input styles */
input[type="text"],
input[type="number"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0.3);
	color: #ffffff; 
}

/* Notification styles */
.notification {
	position: relative;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.10);
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s linear;
}

.notification.show {
	visibility: visible;
	opacity: 1;
}

.notification .message {
	margin-bottom: 20px;
}

.notification-success {
	background-color: #90EE90; /* Light Green */
}

.notification-failure {
	background-color: #FF7F7F; /* Light Red */
}

/* Spinner styles */
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	position: fixed;
	bottom: 75%; /* 70% up from the bottom */
	right: 47.5%; /* Centered horizontally */
	transform: translate(-50%, 50%); /* Adjust for exact centering */
	border: 8px solid #f3f3f3;
	border-top: 8px solid #007BFF;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	display: none;
	opacity: 0.618;
}

/* Status icon styles */
.status-icon {
	width: 24px;
	height: 24px;
	margin-left: 5px;
	display: none;  /* This ensures the icons are hidden by default */
}

/* Transaction status styles */
.transaction-status {
	margin-top: 10px;
	font-weight: bold;
}

/* Success icon styles */
.success-icon {
	fill: #28a745;
}

/* Failure icon styles */
.failure-icon {
	fill: #dc3545;
}

/* Existing .navigation-btn styles */
.navigation-btn {
	position: absolute;
	top: 50%;
	transform: translateY(-50%); /* Center vertically */
	z-index: 10; /* Ensure it's above other elements */
	padding: 5px 10px; /* Adjusted padding */
	border: none; /* Remove default border */
	border-radius: 5px; /* Adjusted border radius */
	background-color: #007BFF; /* Blue background like the button */
	color: #fff; /* White text color */
	font-size: 12px; /* Adjusted font size */
	cursor: pointer; /* Hand cursor on hover */
	outline: none; /* Remove focus outline */
	transition: background-color 0.3s; /* Smooth transition for hover effect */
}

/* Position the button in the top right corner */
.navigation-btn.right {
	right: 10px;
}

/* Position the button in the top left corner */
.navigation-btn.left {
	left: 10px;
}

.navigation-btn:hover {
	background-color: #0056b3; /* Darker blue on hover */
}

.navigation-btn:focus {
	box-shadow: 0 0 5px rgba(0,123,255,0.5); /* Blue glow on focus */
}

.navigation-btn:active {
	background-color: #004085; /* Even darker blue on active/click */
}

/* Claim reward button styles */
.claim-reward-button {
	margin-top: 20px;
	text-align: center;
}

.claim-reward-button button {
	background-color: #007BFF;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.claim-reward-button button:hover {
	background-color: #0056b3;
}

/* Transparent input fields */
.transparent-input {
	background-color: rgba(255, 255, 255, 1);
}

/* Truncate address styles */
.truncated-address {
	margin-bottom: 10px;
}

.truncated-address:before {
	content: "...";
}

/* Center the reward button */
.claim-reward-button {
	display: flex;
	justify-content: center;
}

/* Add new styles specific to the wrappedbbx page */
.container {
	width: 80%;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input {
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

button {
	padding: 10px 15px;
	background-color: #007bff;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button:hover {
	background-color: #0056b3;
}
